.nav-div {
  display: flex;
  justify-content: space-around;
}

.nav-left-menu {
  display: flex;
  gap: 30px;
}
.flex-practice-container {
  display: flex;
  border: 5px solid dodgerblue;
  justify-content: center;
  padding: 10px;
}
.flex-practice-sub-container {
  border: 1px solid salmon;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 2px solid blue;
  padding: 5px;
}

.box {
  border: 1px solid red;
  background-color: aquamarine;
  width: 400px;
  height: 100px;
  text-align: center;
}

@media screen and (max-width: 576px) {
  .flex-practice-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .box {
    border: 5px solid red;
    background-color: yellow;
    width: 600px;
    height: 200px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
